<?xml version="1.0"?>
<model>
  <name>maze4_lines</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Auto SVG2SDF</name>
    <email>none</email>
  </author>
  <description>
    Labirynt wygenerowany automatycznie z pliku maze4_lines.svg.
  </description>
</model>
